.hamburger {
  z-index: 100;
  position: absolute;
  top: 0;
  left: -85px;
  height: 80px;
  width: 85px;
  line-height: 80px;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
